
@import '~@angular/material/theming';

$my-app-primary: mat-palette($mat-cyan, 700, 800, 900);
$my-app-accent:  mat-palette($mat-pink, 700);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);


footer {
  background-color: mat-color($my-app-primary);
}